{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!-- Banner Slider -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/banner222.jpg' %}" class="d-block w-100" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/banner11.jpg' %}" class="d-block w-100" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/banner3.jpg' %}" class="d-block w-100" alt="..." height="500px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container">
  <div class="row bg-primary text-center p-3 p-md-5 text-white border-bottom shadow">
    <div class="col-12">
      <h1 class="display-4 mb-3">SALE IS LIVE NOW</h1>
      <p class="lead mb-2">5% Instant Discount on Prime Commercial Bank and Debit Card</p>
      <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
    </div>
  </div>
</div>
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}
<div class="container">
  <!-- 1st Product Slider -->
<div class="m-3">
  <h2 class="mb-4">ShoppingX Deals of The Day</h2>
  <!-- Slider 1 -->
  <div class="owl-carousel owl-theme" id="slider1">
      {% for topwear in topwears %}
      <div class="item">
          <div class="card h-100 product-card">
              <img src="{{ topwear.product_image.url }}" class="card-img-top" alt="{{ topwear.title }}">
              <div class="card-body">
                  <h5 class="card-title">{{ topwear.title }}</h5>
                  <p class="card-text">{{ topwear.description }}</p>
                  <p class="card-text">
                    <strong class="text-decoration-line-through">${{ topwear.selling_price }}</strong>
                      <strong class="text-danger">Selling Price:</strong> ${{ topwear.discounted_price }}
                  </p>
                  <a href="{% url 'product-detail' topwear.id  %}" class="btn btn-primary w-100">View Details</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
<!-- End 1st Product Slider -->

<!-- Payment Info Section -->
<div class="container my-5">
  <div class="row">
      <div class="col-sm-3">
          <div class="card mb-3">
              <div class="card-body">
                  <img src="{% static 'app/images/payavail/cc.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card mb-3">
              <div class="card-body">
                  <img src="{% static 'app/images/payavail/upi.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card mb-3">
              <div class="card-body">
                  <img src="{% static 'app/images/payavail/nb.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card mb-3">
              <div class="card-body">
                  <img src="{% static 'app/images/payavail/bj.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Payment Info Section -->

<!-- Bottomwear Section -->
<h2 class="my-4">Bottomwear</h2>
<div class="owl-carousel owl-theme" id="slider2">
    {% for bottomwear in bottomwears %}
    <div class="item">
        <div class="card h-100 product-card">
            <img src="{{ bottomwear.product_image.url }}" class="card-img-top" alt="{{ bottomwear.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ bottomwear.title }}</h5>
                <p class="card-text">{{ bottomwear.description }}</p>
                <p class="card-text">
                  <strong class="text-decoration-line-through">${{ bottomwear.selling_price }}</strong>
                    <strong class="text-danger">Selling Price:</strong> ${{ bottomwear.discounted_price }}
                </p>
                <a href="{% url 'product-detail' bottomwear.id  %}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Laptops Section -->
<h2 class="my-4">Laptops</h2>
<div class="owl-carousel owl-theme" id="slider3">
    {% for laptop in laptops %}
    <div class="item">
        <div class="card h-100 product-card">
            <img src="{{ laptop.product_image.url }}" class="card-img-top" alt="{{ laptop.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ laptop.title }}</h5>
                <p class="card-text">{{ laptop.description }}</p>
                <p class="card-text">
                  <strong class="text-decoration-line-through">${{ laptop.selling_price }}</strong>
                    <strong class="text-danger">Selling Price:</strong> ${{ laptop.discounted_price }}
                </p>
                <a href="{% url 'product-detail' laptop.id  %}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Mobiles Section -->
<h2 class="my-4">Mobiles</h2>
<div class="owl-carousel owl-theme" id="slider4">
    {% for mobile in mobiles %}
    <div class="item">
        <div class="card h-100 product-card">
            <img src="{{ mobile.product_image.url }}" class="card-img-top" alt="{{ mobile.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ mobile.title }}</h5>
                <p class="card-text">{{ mobile.description }}</p>
                <p class="card-text">
                  <strong class="text-decoration-line-through">${{ mobile.selling_price }}</strong>
                    <strong class="text-danger">Selling Price:</strong> ${{ mobile.discounted_price }}
                </p>
                <a href="{% url 'product-detail' mobile.id %}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock main-content %}