/* Custom hover effect for nav links */
.nav-link:hover {
    color: #ffc107 !important; /* Change to your preferred hover color */
  }
  
  /* Custom dropdown menu styling */
  .dropdown-menu {
    border: none;
    border-radius: 10px;
  }
  
  /* Custom badge styling */
  .badge {
    font-size: 0.8em;
    padding: 0.4em 0.6em;
  }